html, body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    background: rgb(32,37,64);
    background: linear-gradient(0deg, rgba(32,37,64,1) 0%, rgba(49,60,94,1) 100%);
    color: white;
    height: 100%;
}


h1 {
  color: rgb(228, 228, 228);
  font-weight: normal;
  margin: auto;
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
}

.color-primary {color: #7d09f9;}
.color-secondary { color: #00103f;}


#root {
  width: 100%;
  height: 100%;
}


.view {
    padding: 0;
    margin: 0;
}