@import 'Colors';

.SendMessage {
    box-sizing: border-box;
    font-size: 0.9em;
    padding: 1.5em 0em 1.5em 1.5em;
    flex: 1 1 auto;
    max-width: 100%;
    margin-top: 0;
    max-width: calc(100vw - 150px);

  form {
    display: flex;
    flex: 1 1 auto;
    margin-right: 0.5em;
  }

  input[type=text], input[type=password], input[type=checkbox] {
    padding: 0.25em 0em .25em 0em;
    flex: 1 1 100%;
  }

  .FileUploadButton {
   filter: none!important;
  }

  .username {
    display: flex;
    align-items: center;
    color: $main-text-color;
    margin-right: 0.5em;
    padding: 0em 0.25em;
  }
}
